<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">Task Pro</span>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/admin">
        <i class='bx bx-grid-alt' ></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/list/listUsers">
        <i class='bx bx-list-ul' ></i>
        <span class="links_name">List All Users</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/list/listTasks">
        <i class='bx bx-pie-chart-alt-2' ></i>
        <span class="links_name">List All Tasks</span>
      </a>
    </li>

    <li>
      <a href="#" routerLink="/overduetasks">
        <i class='bx bx-user' ></i>
        <span class="links_name">See Overdue Tasks</span>
      </a>
    </li>
    <li class="log_out">
      <a href="#">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>
