.header{
  background-color: #0A2558;
  height: 65px;
}


.main-container{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  padding: 10px;
}

.one, .two, .three {
  float: left;

  border-radius: 10px;
  margin: 5px;
}

.one{
  width: 40%;
  height: inherit;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #edf5e1;
}
.two{
  width: 20%;
  background-color: aqua;
}
.three {
  width: 40%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fcdb95;
}

