<div class="add-task">
  <div class="header">
    <h1>Update Task</h1>
  </div>
  <div class="content">
    <form [formGroup]="taskForm" (ngSubmit)="updateTask()">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="title" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let n of typeOptions" [value]="n.type">{{
                  n.type
            }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary">Update Task</button>
    </form>
  </div>
</div>



