form {
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    height: 46px;
    padding: 10px;
    width: 100%;
  }
  
  .form-control:focus {
    border-color: #66afe9;
    box-shadow: 0 2px 2px rgba(102, 175, 233, 0.6);
    outline: 0;
  }
  
  label {
    font-weight: 500;
  }
  
  .btn {
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 46px;
    width: 100%;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: #286090;
    border-color: #204d74;
  }
  
  .btn:active {
    background-color: #204d74;
    border-color: #122b40;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
  }
  