<div class="login">
  <div class="box">
    <div class="form">
      <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
      <h1>TASKPRO SYSTEM</h1>
      <h2>Log In</h2>
      <div class="input-box">
        <input type="email" name="email" required autocomplete=off ngModel>
        <span>Email</span>
        <i></i>
      </div>
      <div class="input-box">
        <input type="password" name="password" required ngModel>
        <span>Passsword</span>
        <i></i>
      </div>
      <button type="submit">Log In</button>
      </form>
    </div>
  </div>
</div>
