<app-sidenav></app-sidenav>

<section class="home-section">
  <app-header></app-header>
  <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Employees</div>
            <div class="number">{{employees}}</div>
          </div>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Tasks</div>
            <div class="number">{{tasks}}</div>
          </div>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Overdue Tasks</div>
            <div class="number">{{overdueTasks}}</div>
          </div>
        </div>
      </div>

    </div>
  </section>



