<div class="login">
  <div class="box">
    <div class="form">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <h1>TASKPRO SYSTEM</h1>
      <h2>Signup</h2>
      <div class="input-box">
        <input type="firstName" name="firstName" required autocomplete=off ngModel>
        <span>FirstName</span>
        <i></i>
      </div>
      <div class="input-box">
        <input type="lastName" name="lastName" required autocomplete=off ngModel>
        <span>LastName</span>
        <i></i>
      </div>
      <div class="input-box">
        <input type="email" name="email" required autocomplete=off ngModel>
        <span>Email</span>
        <i></i>
      </div>
      <div class="input-box">
        <input type="password" name="password" required ngModel>
        <span>Password</span>
        <i></i>
      </div>
      <div class="input-box">
        <input type="confirmPassword" name="confirmPassword" required ngModel>
        <span>Confirm Passowrd</span>
        <i></i>
      </div>
      <button type="submit">Register</button> <br>
      </form>
    </div>
  </div>
</div>